<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome to the House Database!</h1>
    <p> Here, you will be able to input houses that you are selling, or seek out your dream home! Please be mindful that this database is local, and only shows listings that have been sent to our database. Thank you!</p>

    <button onclick="location.href='https://CSIIGroupProject.maizebooker1.repl.co/list'"'>List a House</button>
    <button onclick="location.href='https://CSIIGroupProject.maizebooker1.repl.co/find'">Find a Home</button>
  </body>
</html>